#about {
    height: 95vh;
    background: white;
}

.employees {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #152D41;
    margin: 30px 30px;
}

.about-worker1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.about-worker1 span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px
}
.about-worker2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}

.about-worker2 span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px
}

img {
    border-radius: 50%;
    margin: 25px 25px;
}