#landingpage {
    height: 100vh;
    background-image: url(https://picsum.photos/1600/1200);
    background-position: center;
    background-size: cover;
    position: relative;
}

.landingpage-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.landingpage-shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    position: absolute;
}

.text-center {
    width: 60%;
}

button {
    color: white;
    background: none;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    padding: 11px 54px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background: white;
    color: black;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 50px;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 50px;
}