html {
scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background: #4E4E4E;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 45px;
    font-size: 18px;
    line-height: 21px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.nav-container {
    height: 50px;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container a:nth-last-of-type(1){
    cursor: not-allowed;
    opacity: 0.6;
}

.nav-container a:first-of-type {
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
}

.nav-container a:nth-last-of-type(3){
    font-weight: normal;
}

footer {
    background: #4E4E4E;
    color: white;
    font-size: 18px;
    line-height: 21px;
}

footer a {
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
}

.footer-container {
    height: 50px;
    font-style: normal;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container span {
    margin-left: 45px;
}