#offer {
    height: 100vh;
    background: #405D78;
}

#offer h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding-top: 80px;
    margin-left: 45px;
}

.box-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    width: 720px;
    margin: 0 auto;
}

.box-container > div:after {
    content: '';
    padding-bottom: 100%;
    display: block;
    background: #F1F1F1;
}

.box-container > div {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.box-container > div:hover {
    transform: scale(1.05);
}

.box-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.box-content span {
    font-size: 18px;

}

.box-new::before {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: -11px;
    left: -11px;
    background: #E07A64;
    border-radius: 50%;
}